<div class="main-wrapper">

  <h1>Welcome to Anvello! </h1>
  <h3>Project Management app that will help you create and organize your projects, set milestones and deadlines, and
    track progress in real-time</h3>
  <div class="hero-content">
    <div class="welcom-text">
      <div>
        Take a moment to explore our features!<br>
        Start creating your first project!
      </div>
      <a routerLink="/singup" class="singup">Lets start for free!</a>
      <div>
        We're here to support you every step!<br>
        We will help you achieve your goals!
      </div>
    </div>
    <img class="hero-img" src="./../../../assets/hero-img.png"
      alt="a picture of people working with tasks and documents around a laptop">
  </div>
  <h3>Thank you for choosing our app, and happy project managing!</h3>
</div>